{% extends 'base.html' %}
{% block title %}
Trang chủ
{% endblock %}
{% block content %}
<!-- Hover table card start -->
{{current_user}}
<div class="card">
    <div class="card-header">
        <h4><b>Tables</b> ({{ tables|length }}) </h4>
        <!-- <span>use class <code>table-hover</code> inside table element</span> -->
        <!-- <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div> -->
        <div class="card-header-right">
            <button id="reload-btn" onclick="reloadHandler(this)" class="btn btn-outline-dark btn-square mr-3"><i class="ti-reload"></i></button>
            <button id="delete-btn" onclick="deleteHandler(this)" class="btn btn-outline-dark btn-square disabled">Delete</button>
            <a href="{{ url_for('create_tables_page') }}"><button class="btn btn-warning">Create table</button></a>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="list-checkbox-column">
                            <input type="checkbox" id="selectall" name="selectall" autocomplete="off" onchange="eventCheckBox(this)" class="action-rowtoggle" title="Chọn tất cả hồ sơ">
                        </th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Partition key</th>
                        <th>Sort key</th>

                    </tr>
                </thead>
                <tbody id="table-body">

                    {% for table in tables%}
                    <tr id="row-{{loop.index}}" data-index="{{loop.index}}">                        
                        <th scope="row">
                            <input type="checkbox" name="{{ table['Table']['TableName'] }}" autocomplete="off" class="action-checkbox" value="{{ table['Table']['TableName'] }}" title="Chọn hồ sơ">
                        </th>
                        <td>{{ table['Table']['TableName'] }}</td>
                        {% with status=table['Table']['TableStatus']%}
                        {% if status == 'ACTIVE'%}
                        <td class="text-lowercase text-success font-weight-bold"><i class="ti-arrow-circle-down"></i>    {{ status }}</td>        
                        {% else %}
                        <td class="text-lowercase text-danger font-weight-bold">...{{ status}}</td>
                        {% endif %}
                        {% endwith %}
                        {% for attribute in table['Table']['AttributeDefinitions'] %}
                        <td>{{ attribute['AttributeName'] }} {% with type=attribute['AttributeType'] %} {% if type=='S' %} (String) {% elif type=='N' %} (Number) {% else %} (Binary) {% endif %} {% endwith %}</td>
                        {% endfor %}

                    </tr>        
                    {% endfor%}
                    
                    
                </tbody>

            </table>
        </div>
    </div>
</div>
<!-- Hover table card end -->
<!-- Main-body end -->
<div id="styleSelector">

</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
{% block script%}
<script>

    var selectall = document.getElementById('selectall');
    var enableDelete = document.getElementById('delete-btn');
    var checkboxs = document.getElementsByClassName('action-checkbox');
    var tableBody = document.getElementById('table-body');
    var reloadHTML = `
    <td><div id="loading-bar-spinner" class="spinner" style="margin-top: 50px;"><div class="spinner-icon"></div></div></td>`;
    function addEventListener_Checkboxs()
    {
        for(let i = 0; i < checkboxs.length ; i++) { //zero-based array
            checkboxs[i].addEventListener('change', function(){
                if(selectall.checked){
                    selectall.checked = !selectall.checked;
                }
                let count = 0;
                for(let i = 0; i < checkboxs.length; i++){
                    if(checkboxs[i].checked)
                        count++;
                }
                if(count == 0){
                    disabled();
                }
                else{
                    enabled();
                }
            });
        }
    }

    addEventListener_Checkboxs();

    function loadDataToRow(data){
        let text = ``;
        for(var k in data)
        {
            console.log(data[k].Table.TableName);
            // document.getElementById('table-body').innerHTML 
            text = text + `
                <tr>                        
                    <th scope="row">
                        <input type="checkbox" name="${data[k].Table.TableName}" autocomplete="off" class="action-checkbox" value="${data[k].Table.TableName}" title="Chọn hồ sơ">
                    </th>
                    <td>${data[k].Table.TableName}</td>`;
            if(data[k].Table.TableStatus == 'ACTIVE'){
                text = text + `<td class="text-lowercase text-success font-weight-bold"><i class="ti-arrow-circle-down"></i>    ${data[k].Table.TableStatus}</td>`;
            }
            else{
                text = text + `<td class="text-lowercase text-danger font-weight-bold">...${data[k].Table.TableStatus}</td>`;
            }
            for(let i in data[k].Table.AttributeDefinitions)
            {
                let type = data[k].Table.AttributeDefinitions[i];  
                text = text + `<td>${type.AttributeName}`;
                if(type.AttributeType == 'S'){
                    text = text + ` (String)</td>`;
                }
                else if(type.AttributeType == 'N'){
                    text = text + ` (Number)</td>`;                        
                }
                else{
                    text = text + ` (Binary)</td>`;   
                }
            }
            text = text + `</tr>`;
        }
        return text;
    }
    function reloadHandler(element){
        document.getElementById('table-body').innerHTML = reloadHTML;
        fetch("{{ url_for('ajax_load_tables')}}",{
            method: "get",
            headers: {
                "content-type": "application/json"
            }
        })
        .then(response => response.json())
        .then(json => {
            let data = json.tables;
            document.getElementById('table-body').innerHTML = loadDataToRow(data);
        });
        checkboxs = document.getElementsByClassName('action-checkbox');  
        addEventListener_Checkboxs();      
    }
    
    function deleteHandler(element){
        if(!element.classList.contains('disabled'))
        {
            let tableDeleted = [];

            for(let i = 0; i < checkboxs.length; i++){
                if(checkboxs[i].checked)
                {
                    tableDeleted.push(checkboxs[i].getAttribute('value'));
                }
            }
            document.getElementById('table-body').innerHTML = reloadHTML;
            fetch("{{ url_for('delete_tables')}}",{
                method: "post",
                body: JSON.stringify({
                    "tables": tableDeleted
                }),
                headers: {
                    "content-type": "application/json"
                }
            })
            .then(response => response.json())
            .then(json => {
            let data = json.tables;
            document.getElementById('table-body').innerHTML = loadDataToRow(data);
        });
        }
        

    }


    function checkDisabled(){
        if(enableDelete.classList.contains('disabled')){
            return true;
        }
        return false;
    }

    function disabled(){
        enableDelete.classList.add('disabled')
    }

    function enabled(){
        enableDelete.classList.remove('disabled')
    }

    function eventCheckBox(element) {
        if(element.checked){
            if(checkDisabled())
                enableDelete.classList.remove('disabled');        
        }
        else{
            enableDelete.classList.add('disabled');                    
        }
        for(let i = 0; i < checkboxs.length ; i++) { //zero-based array
            checkboxs[i].checked = element.checked;
        }
    }
</script>
{% endblock %}